# Function

In [5]:
def greetings(user):
    user ='ujjawal'
    print("hello welcome user" , user)

In [6]:
greetings("aman")
greetings('naina')

hello welcome user aman
hello welcome user naina

In [3]:
#function ke sath jo varibLE BNATE HAIN USE PERAMETRE KAHTENHAIN
#AUR  jo apmn dete hain use argument kahte hain

In [7]:
name ='tushar'
greetings(name)
print('name' , name)

hello welcome user tushar
name tushar

In [8]:
#python main agar memorey address change hota hain to use immutable data type hota hain
#aur agar memorey address same rahta hain to vo mutuable
#integer , string , boolian , tupple , ye sare immutable datatype rahte hain
#list , dictionary , set mutable hota h

In [9]:
list =[10,20]
greetings(list)
print(list)

hello welcome user [10, 20]
[10, 20]

In [10]:
#type of argument passing in functions

In [13]:
#Reqiured argument
#positional Arguement
#
def func(x, y, z):
    print(f'x=> {x} , y ->{y} , z ->{z}')

In [16]:
func(10,20,30) #required argument
func(30,20,10) #positional argument
func(y =20 ,z=30 , x=10) #keyword argument

x=> 10 , y ->20 , z ->30
x=> 30 , y ->20 , z ->10
x=> 10 , y ->20 , z ->30

In [17]:
#Default Argument
def func(x, y, z =40):
    print(f'x=> {x} , y ->{y} , z ->{z}')
func(10,20)

x=> 10 , y ->20 , z ->40

In [23]:
#local and global varibale
#variable lenth and keyword argument

#variable lenth argument
def func(*x):
    print("x -->" ,x)
func(10,20)
func()
func(10,20,4,5,6)

x --> (10, 20)
x --> ()
x --> (10, 20, 4, 5, 6)

In [1]:
#keyword varibale lenth argument
def func(**x):
    print("x =>" ,x, type(x))

In [1]:
func(age=10 , salery =2000)
func()
func(salery=2000 , age =10 , name ='ankit')

NameError: name 'func' is not defined

# Return keyword

In [33]:
def func(x):
    print("x=>" , x+10)

In [34]:
out= func(19)
print(out , end =' ')

x=> 29
None

In [35]:
def shadi(lifafa):
    print("pay inside" , lifafa+100)
out =shadi(1000)
print('out' , out)

pay inside 1100
out None

In [37]:
def shadi(lifafa):
    return 'khana khar vapas aa gaya'
    print("pay inside" , lifafa+100)
out =shadi(1000)
print('out' , out)

out khana khar vapas aa gaya

In [38]:
def shadi(lifafa):
    return 'khana khar vapas aa gaya'
    return 'abc'
    print("pay inside" , lifafa+100)
out =shadi(1000)
print('out' , out)

out khana khar vapas aa gaya

In [39]:
def adding(x , y):
    print('value are ' , x, y)
    c =x+y
    print("c" , c)
out=adding(15,25)
print(out)

value are  15 25
c 40
None

In [40]:
def adding(x , y):
    print('value are ' , x, y)
    c =x+y
    return c
out=adding(15,25)
print(out)

value are  15 25
40

# First Class Function

In [41]:
#first class function
#design pattern which we can through we use a function in  multiple ways
#function ko varibale main save kiya jaye to fisrt class function
#kisi function ko as a argument main pass kar du to use fisrt class function kahte haiun
#function if a function is return
#function in data  strucutre

In [42]:
def func():
    print('hello')
x =func()
print('x =>' , x)

hello
x => None

In [44]:
def func():
    print('hello')
x =func #agar function ko call nhi kiya to x ki value memorey address hoga
print('x =>' , x)

x => <function func at 0x0000023368F06020>

In [45]:
def func():
    print('hello')
x =func #agar function ko call nhi kiya to x ki value memorey address hoga
print('x =>' , x , func)
x()
func()

x => <function func at 0x0000023368F07CE0> <function func at 0x0000023368F07CE0>
hello
hello

In [2]:
#function ko as a argument or as function pass kiya jate to
def add(x ,y):
    print(x+y)
out =add(10,20)
print(out)

30
None

In [4]:
def add(x ,y):
    print(x+y)

def three_number(a, b):
    print('a=>' ,a ,'b =>' , b)

three_number(10 , add(2 ,3))

5
a=> 10 b => None

In [5]:
def add(x ,y):
    return(x+y)

def three_number(a, b):
    print('a=>' ,a ,'b =>' , b)

three_number(10 , add(2 ,3))

a=> 10 b => 5

In [6]:
def add(x ,y):
    return(x+y)

add(2,3)

5

In [7]:
def add(x ,y):
    return(x+y)

def three_number(a, b):
    print('a=>' ,a ,'b =>' , b)

three_number(10 , add)

a=> 10 b => <function add at 0x0000025832200680>

In [8]:
def add(x ,y):
    return(x+y)

def three_number(a, b):
    print('a=>' ,a ,'b =>' , b , b(2,4))

three_number(10 , add)

a=> 10 b => <function add at 0x0000025832200040> 6

In [9]:
def add(x ,y):
    return(x+y)

def three_number(a, b):
    print("total =>" , a+b(2,3))

three_number(10 , add)

total => 15

In [10]:
# High order function --> asa function jisko kisi dusre funtion main as a argument pass kiya ja sake us eto high order function kahte hain
#sare high order function first order hote hain lakin sare high order function first class function nhi hote hain

In [ ]:
§